<h1>Contact Manager System</h1>

<!-- BUTTONS (NO SPACE) -->
<div class="top-buttons">
  <button>Dashboard</button>
  <button (click)="addContact()">
    {{ editingId ? 'Update Contact' : 'Add Contact' }}
  </button>
  <button>Export CSV</button>
</div>

<!-- CARDS -->
<div class="cards">

  <div class="card-box">
    <h2>{{contacts.length}}</h2>
    <p>Total Contacts</p>
  </div>

  <div class="card-box">
    <h2>{{categories.length}}</h2>
    <p>Total Categories</p>
  </div>

</div>

<br>

<!-- FORM -->
<div class="form-container">

  <input placeholder="Name" [(ngModel)]="newContact.name">
  <input placeholder="Email" [(ngModel)]="newContact.email">
  <input placeholder="Phone" [(ngModel)]="newContact.phone">

  <select [(ngModel)]="newContact.category_id">
    <option value="">Select Category</option>
    <option *ngFor="let c of categories" [value]="c.category_id">
      {{c.category_name}}
    </option>
  </select>

  <input type="file" (change)="onFileChange($event)">

</div>

<!-- SEARCH -->
<div class="search-container">
  <span class="search-icon">🔍</span>
  <input 
    type="text"
    placeholder="Search contacts..."
    [(ngModel)]="searchText"
    class="search-input"
  >
</div>

<!-- TABLE -->
<table>

  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Category</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let c of filteredContacts()">

    <td>{{c.id}}</td>

    <td>
      <img *ngIf="c.image_path"
           [src]="'http://localhost/contact-manager-web-app/' + c.image_path">
    </td>

    <td>{{c.name}}</td>
    <td>{{c.email}}</td>
    <td>{{c.phone}}</td>
    <td>{{c.category_name}}</td>

    <td>
      <button class="edit" (click)="editContact(c)">Edit</button>
      <button class="delete" (click)="deleteContact(c.id)">Delete</button>
    </td>

  </tr>

</table>